.align {
    display: flex;
    justify-content: center;

}

.titleContainer {
    text-align: center;
    padding: 55px 0 65px;
}

.title {
    line-height: 1.1;
}

.subTitle {
    text-align: end;
    font-size: 15px;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 22px;

    margin: 0 20px 20px 20px;
}

.pageAnimation {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    overflow: auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 450px) {
    .bgCircle {
        width: 200px;
        height: 200px;
        background-color: var(--color-red);
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-37%) translateY(-37%);
        z-index: -2;
        animation: appear 1s ease-in;
    }
}


@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}