.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    background-color: var(--color-white);
}

.title {
    padding: 34px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;

    background-color: var(--color-green);
}

.buttonBack {
    position: absolute;
    left: 20px;
    top: 38px;
    width: 42px;
    height: 42px;

    font-size: 35px;
    color: var(--color-white);
    background-color: var(--color-white);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.buttonBack:hover {
    background-color: var(--color-grey);
}

.calendarIcon {
    position: relative;
    top: 2px;
    width: 30px;
    height: 30px;
}

.calendarIcon path {
    fill: var(--color-green);
}

.buttonNextDay {
}

.buttonBack:hover {
    color: var(--color-grey)
}

.footerControls {
    display: flex;
    gap: 15px;
    margin: 0 20px 20px;
}

.text {
    font-size: 18px;
    white-space: pre-wrap;
    padding: 20px;
    color: var(--color-black);
}

.pageAnimation {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}